.filter-item {
    display: inline-block;
    font-family: inherit;
    font-weight: var(--font-weight-bold);
    font-size: 1.1rem;
    color: var(--color-main);
    background-color: var(--color-filter);
    border-radius: 4px;
    padding: .7rem .6rem .62rem .6rem;
    margin-left: 1rem;
    outline: none;
    border: none;
    transition: var(--transition);
    cursor: pointer;
}

.filter-item:hover {
    background-color: var(--color-main);
    color: var(--color-white);
}