.filter-item {
    display: inline-block;
    font-family: inherit;
    font-weight: var(--font-weight-bold);
    font-size: 1.1rem;
    color: var(--color-main);
    background-color: var(--color-filter);
    border-radius: 4px;
    height: 2.1rem;
    padding: .6rem;
    margin: 0 0 0 1rem;
    outline: none;
    border: none;
    transition: var(--transition);
    cursor: pointer;
}

@media screen and (max-width: 1208px) {
    .filter-item {
        margin: 1rem 1rem 0 0;
    }
}

.filter-item:hover {
    background-color: var(--color-main);
    color: var(--color-white);
}